.satu{
    font-family: 'Courier New', Courier, monospace;
    color: maroon;
}


a{
    color: inherit
}



/* yang diwariskan */
/* color,font,leter-spacing,list style,text align,text transform*/








