.jumbotron{
    padding-top: 6rem;
    background-color: rgb(250, 227, 196);
}
#project{
    background-color: #a2d9ff;
    padding-top: 5rem
}
#About{
    padding-top: 5rem;
}
#contact{
padding-top: 5rem;
}