body{background-color: aqua;}





h1{


text-align: center;
color: orange;
}

h3{color: blue;}

p{
text-align: justify;
padding: 20px;
}

#kuning{
color: darkgreen;

}

#merah{
    color: 
    red;
}

.kanan{
color: white;
text-align: right;
font-size: small;
}


}


