body{
   font: 16/28px arial,sans-serif; 
   background-color: aqua;
color: black;
padding: 15px;

}
.container{
   width: 960px; 
   margin: auto;
   background-color: white;
}

.header ul li{
   padding: 5px;
display: inline-block;
}
.header ul li a{
   text-decoration: none;
}

.header ul li a:hover{
   background-color: rgb(255, 38, 0);
   padding: 5px;
   color: white;
   font-size: medium;
}
h1{
   padding: 10px
}

.hero{
   height: 400px;
   background-image:url(asset/amir.jpg);
   background-repeat: no-repeat;
}

